h1{
  margin: 0 auto;
  margin-top: 80px;
  width: 800px;
  height: 50px;
  font-size: 1.8em;
  text-align: center;
  line-height: 60px;
  text-align: center;
}

.Street_address{
  width:800px;
  height:350px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20px;

  }

.addres{
  width: 800px;
  height: 120px;

}

.ad_h{
  width: 400px;
  height: 140px;
  margin-left:260px;
  padding-top: 10px;
}

.button_01{
  width: 800px;
  height: 50px;
}

.button_02{
  width: 400px;
  height: 80px;
  float: left;
  text-align: center;
}

.button_03{
  width: 200px;
  height: 50px;
  border-top: solid 1px ;
  border-bottom: solid 1px;
}

.button_04{
  text-align: center;
  width: 400px;
  height: 80px;
  float: left;
}

.navigation{
  margin-top: 35px;
  margin-left: 50px;
  width: 200px;
  height: 160px;
  background-color: rgba(112,128,144,0.5);
  float: left;
}

input[type="submit"]{
  margin-top: 30px;
  width: 100px;
  height: auto;
  padding: 20px;
}

input[type="text"]{
  border: none;
  margin-top: 20px;
}

input[type="checkbox"]
{
    margin-left: 150px;
    margin-top: 20px;
    float: left;
    width: 30px;
    height: 30px;
}

input[type="text"]
{
  width: 300px;
}

#ad_button{
  width: 400px;
  padding: 10px;
  display: inline-block;
}

#ad_button_2{
  margin-top: 45px;
}