    header p{
        width: 180px;
        height: 20px;
        color: white;
        font-size: 15px;
        text-align: center;
        float: right;
        padding-top: 6px;
    }

article{
    margin-top: 77px;
    clear: both;
}

.main_contents, .karam_left, .karam_right {
  height: 500px;
}

.karam_left {
  float: right;

  color: #fff;
  width: 10%;
}

.main_contents {
  color: #000;
  float: right;
  width: 80%;
}

.karam_right {
  float: right;
  color: #fff;
  width: 10%;
}

.main{
  width: 100%;
  float: right;
}

.item_box{}

.product{
    margin-left: 30px;
    margin-top: 40px;
    float: left;
    width: 500px;
    height: 250px;
}

.product img{
    width: 350px;
    height: 250px
}

.item_price{
  margin-top: 30px;
    float: left;
    width: 450px;
    height: 150px;
}

table td{
    padding: 30px 20px;
}

.foot{
  clear: both;
  margin-left: 800px;
  width: 600px;
  position: fixed;
  bottom: 10px;
}

input[type="checkbox"]
{
    margin-left: 40px;
    margin-top: 100px;
    float: left;
    width: 30px;
    height: 30px;
}

input[type="text"]
{
    width: 170px;
}