article{
    box-sizing: border-box;
}

.orderhistory_title{
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.orderhistory{
    padding: 2px;
}

.order_table{
    width: 640px;
    margin: 5px auto;
}

.order_table td{
    border: 1px solid #000;
    vertical-align: top;
}
.order_img{
    padding: 10px;
    width: 300px;
}

.order_img1 img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.order_title{
    text-align: center;
    padding: 5px;
    height: 20px;
}

.order_details{
    padding: 10px;
}

.order_details p{
    padding: 5px;
}

.order_button{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order_item{
    color: #000;
    text-decoration: none;
}

.ordercancel{
    margin-top: 60px;
}
