.side_menu{
    width: 15%;
    float: left;
    font-size: 12px;
    background-color: #eaadbd;
}
    .side_menu h2{
        padding: 5px;
    }
    ul,li{
        font-size: 12px;
    }
        ul{
            padding-left: 10px;
        }
    .category{
        padding-left: 10px;
    }
.searchdata{
    width: 82%;
    height: 50px;
    line-height: 50px;
    float: left;
    padding-left: 3%;
    background-color: #fff;
}
.main{
    width: 85%;
    height: auto;
    float: left;
}
    .item{
        width: 250px;
        height: 400px;
        padding: 2.7%;
        line-height: 24px;
        float: left;
    }
        .item img{
            width: 260px;
            height: 260px;
        }
        .description{
            font-size: 12px;
        }


