body{
    background-color: #e6ece0;
}

header{
    width: 100%;
    height: 26px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: brown
}
    header a{
        width: 80px;
        height: 20px;
        color: white;
        font-size: 16px;
        text-align: center;
        float: right;
        padding-top: 6px;
    }

nav{
    width: 100%;
    position: fixed;
    top: 26px;
    z-index: 10;
    background-color: rgba(0,0,0,0.7);
}
    nav div{
        height: 51px;
    }
        .SWL{
            height: 51px;
            font-size: 3em;
            letter-spacing: 5px;
            color: white;
            opacity: 0.7;
            float: left;
            padding-left: 10px;
            line-height: 56px;
            font-weight: bold;
        }
        .nav_menu{
            width: 150px;
            height: 51px;
            text-align: center;
            color: white;
            float: right;
            line-height: 51px;
        }


article{
    clear: both;
}
    .slide_left{
        font-size: 8em;
        float: left;
        line-height: 600px;
    }
    .slide_right{
        font-size: 8em;
        float: right;
        line-height: 600px;
    }
        .top_slide{
            display: block;
            width: 1000px;
            height: 600px;
            margin: 0 auto 50px auto;
            font-size: 14em;
            text-align: center;
            opacity: 0.7;
            line-height: 600px;
            margin-top: 77px;
            background-color: #008888;
        }
        .contents_box{
            width: 1170px;
            height: 390px;
            margin: 0 auto;
        }
        .contents_item{
            width: 350px;
            height: 350px;
            text-align: center;
            font-size: 30px;
            float: left;
            margin: 15px 20px;
            border-radius: 20px;
            line-height: 350px;
            background-color:  rgba(0, 200, 0, 0.7);
        }
        .chat{
            width: 300px;
            height: 400px;
            text-align: center;
            line-height: 400px;
            position: fixed;
            bottom: 30px;
            left: 30px;
            z-index: 10;
            border-radius: 10px;
            background-color: rgba(255, 192, 203, 0.7);
        }
        .icon{
            width: 90px;
            height: 90px;
            float: right;
            text-align: center;
            line-height: 90px;
            font-size: 4em;
            border-radius: 50%;
            position: fixed;
            right: 30px;
            bottom: 30px;
            z-index: 10;
            background-color: rgba(0,0,0,0.7);
        }
        h1{
            text-align: center;
            font-size: 40px;
            line-height: 300px;
        }
        h3{
            line-height: 30px;
        }
        .mail{
            margin: -130px 0px 0px 0px;
            text-align: center;
            width: 400px;
            height: 2em;
        }
        .id{
            margin: -130px 0px 0px 0px;
            text-align: center;
            width: 400px;
            height: 2em;
        }
        .pass{
            margin: -50px 0px 0px 0px;
            text-align: center;
            width: 400px;
            height: 2em;
        }
        .namae{
            margin: 5px 0px 0px 0px;
            text-align: center;
            width: 400px;
            height: 2em;
        }
        .juusyo{
            margin: 22px 0px 0px 0px;
            text-align: center;
            width: 400px;
            height: 2em;
        }
        .denwa{
            margin: 22px 0px 0px 0px;
            text-align: center;
            width: 400px;
            height: 2em;
        }
        .divroguin{
            margin: -20px 550px 0 550px;
        }

            .signin {
                float: left;
                display: inline-block;
                padding: 7px 20px;
                border-radius: 25px;
                text-decoration: none;
                color: #FFF;
                background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
                transition: .4s;
                margin: 50px 0px 170px 0px;
                }

.btn-gradient-radius:hover {
                             background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
                            }


        .sinkitouroku{
            float: right;
            width: 90px;
            height: 40px;
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            border-radius: 3px;
            font-weight: bold;
            color: #FFF;
            background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
            transition: .4s;
            margin: 50px 0px 170px 0px;
        }
        .sousin{
            float: left;
            width: 90px;
            height: 40px;
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            border-radius: 3px;
            font-weight: bold;
            color: #FFF;
            background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
            transition: .4s;
            margin: 50px 0px 170px 0px;
        }
        .modoru{
            float: right;
            width: 90px;
            height: 40px;
            display: inline-block;
            padding: 0.5em 1em;
            text-decoration: none;
            border-radius: 3px;
            font-weight: bold;
            color: #FFF;
            background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
            transition: .4s;
            margin: 50px 0px 170px 0px;
        }
article div{

}



footer{
    text-align: center;
    font-size: 12px;
    padding: 3px;
    clear: both;
    background-color: aqua;
}
li{
    list-style: none;
}